.jumbotron {
    background: linear-gradient(deepskyblue, aquamarine) !important;
}

body {
    background-color: white;
}

h1 {
    color: white !important;
    margin-left: 20px;
    font-family: 'Lobster', cursive !important;
}

a {
	color: black;
}